<div class="display-flex flex-row">
    <div class="usa-card maxw-card-lg">
        <div class="usa-card__container text-center border-accent-cool-dark radius-0">
            <a href="https://codepen.io/pglevy/pen/LYLeMoy?editors=1000" target="_blank" class="text-uppercase text-no-underline hover:bg-accent-cool-light text-accent-cool-darker hover:text-ink" style="padding:0 !important">
                <div class="usa-card__body">
                    <p>
                        <i class="fab fa-codepen fa-3x"></i>
                    </p>
                    <p>
                        <span class="">Try layout grid on CodePen</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="usa-card maxw-card-lg">
        <div class="usa-card__container text-center border-accent-cool-dark radius-0">
            <a href="https://figma.com" target="_blank" class="text-uppercase text-no-underline hover:bg-accent-cool-light text-accent-cool-darker hover:text-ink" style="padding:0 !important">
                <div class="usa-card__body">
                    <p>
                        <i class="fab fa-figma fa-3x"></i>
                    </p>
                    <p>
                        <span class="">Get grid templates on Figma</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

