body {
  font-size: 1.125rem;
  font-variant-numeric: oldstyle-nums;
}

p, li, .usa-intro {
  line-height: 1.5;
}

h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--bixal-font-serif);
}

code {
  background-color: #f0f0f0;
  padding: .125em .25em .125em .25em;
  border-radius: .25em;
}

.usa-nav .usa-accordion {
  font-family: var(--bixal-font-sans-serif);
}

.usa-header--extended .usa-logo {
  max-width: inherit;
}

.usa-header--extended .usa-nav__primary-item>.usa-current, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover {
  color: var(--bixal-navy);
}

.usa-nav__primary>.usa-nav__primary-item>a {
  font-weight: 600 !important;
}

.usa-header--extended .usa-nav__primary-item>.usa-current::after, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover::after {
  background-color: var(--bixal-orange);
}

.usa-nav__primary>.usa-nav__primary-item>a:hover {
  color: var(--bixal-navy);
}

.usa-header--extended {
  background-color: var(--bixal-navy);
}

.usa-nav {
  background-color: white;
}

.usa-header--extended .usa-nav, .usa-navbar {
  border-color: var(--bixal-navy);
}

.usa-logo a {
  color: var(--bixal-orange);
}

.usa-menu-btn {
  background-color: var(--bixal-purple);
}

.usa-process-list__item::before {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant-numeric: normal;
}

.usa-process-list__item, .usa-prose .usa-process-list__item {
  border-color: var(--bixal-light-blue);
}

.usa-button--outline {
  color: var(--bixal-purple) !important;
  box-shadow: inset 0 0 0 2px var(--bixal-purple) !important;
}

.usa-button--outline.usa-button--hover, .usa-button--outline:hover {
  color: white !important;
  box-shadow: inset 0 0 0 2px var(--bixal-purple);
  background-color: var(--bixal-purple);
  transition: ease 400ms;
}

.usa-sidenav a:not(.usa-button):not(.usa-current):hover {
  color: var(--bixal-navy);
}

.usa-sidenav .usa-current {
  color: var(--bixal-navy);
  font-weight: semibold;
}

.usa-sidenav .usa-current::after {
  background-color: var(--bixal-orange);
  border-radius: 0;
}

/* responsive iframe approach from https://www.w3schools.com/ */
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}